<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Fruity Store</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="icon" href="apple.png" type="image/png" />
	</head>
	<body>
		<%- include('navbar') %>
		<main>
			<h1>Welcome to Fruity, best fruits store in town!</h1>
			<a href="/categories">
				<button>Get Your Fruits Now</button>
			</a>
		</main>
		<%- include('footer') %>
	</body>
</html>
