<title>Fruity Store</title>
<link rel="icon" href="icon.png" type="image/png" />
<link rel="stylesheet" href="style.css" />
<%- include('navbar') %>
<main>
	<h1>Welcome to Fruity, best fruits store in town!</h1>
	<a href="/categories">
		<button>Get Your Fruits Now</button>
	</a>
</main>
<%- include('footer') %>
